<div class="reply-body" data-id="63ed6305bbdbe4786392189b">
  <div class="wmd-panel">
    <div class="wmd-button-bar-reply-body-63ed6305bbdbe4786392189b">
      <div role="toolbar" id="wmd-button-row-reply-body-63ed6305bbdbe4786392189b" class="wmd-button-row">
        <button tabindex="0" class="wmd-button" id="wmd-bold-button-reply-body-63ed6305bbdbe4786392189b"
          title="Жирний (Ctrl+B)" style="left: 0px;">
          <span style="background-position: 0px 0px;"></span>
        </button>
        <button tabindex="-1" class="wmd-button" id="wmd-italic-button-reply-body-63ed6305bbdbe4786392189b"
          title="Курсив (Ctrl+I)" style="left: 25px;">
          <span style="background-position: -20px 0px;"></span>
        </button>
        <span role="separator" class="wmd-spacer wmd-spacer1"
          id="wmd-spacer1-reply-body-63ed6305bbdbe4786392189b"></span>
        <button tabindex="-1" class="wmd-button" id="wmd-link-button-reply-body-63ed6305bbdbe4786392189b"
          title="Посилання (Ctrl+L)" style="left: 75px;">
          <span style="background-position: -40px 0px;"></span>
        </button>
        <button tabindex="-1" class="wmd-button" id="wmd-quote-button-reply-body-63ed6305bbdbe4786392189b"
          title="Цитата (Ctrl+Q)" style="left: 100px;">
          <span style="background-position: -60px 0px;"></span>
        </button>
        <button tabindex="-1" class="wmd-button" id="wmd-code-button-reply-body-63ed6305bbdbe4786392189b"
          title="Приклад коду (Ctrl+K)" style="left: 125px;">
          <span style="background-position: -80px 0px;"></span>
        </button>
        <button tabindex="-1" class="wmd-button" id="wmd-image-button-reply-body-63ed6305bbdbe4786392189b"
          title="Зображення (Ctrl+G)" style="left: 150px;">
          <span style="background-position: -100px 0px;"></span>
        </button>
        <span role="separator" class="wmd-spacer wmd-spacer2"
          id="wmd-spacer2-reply-body-63ed6305bbdbe4786392189b"></span>
        <button tabindex="-1" class="wmd-button" id="wmd-olist-button-reply-body-63ed6305bbdbe4786392189b"
          title="Нумерований список (Ctrl+O)" style="left: 200px;">
          <span style="background-position: -120px 0px;"></span>
        </button>
        <button tabindex="-1" class="wmd-button" id="wmd-ulist-button-reply-body-63ed6305bbdbe4786392189b"
          title="Ненумерований список (Ctrl+U)" style="left: 225px;">
          <span style="background-position: -140px 0px;"></span>
        </button>
        <button tabindex="-1" class="wmd-button" id="wmd-heading-button-reply-body-63ed6305bbdbe4786392189b"
          title="Заголовок (Ctrl+H)" style="left: 250px;">
          <span style="background-position: -160px 0px;"></span>
        </button>
        <button tabindex="-1" class="wmd-button" id="wmd-hr-button-reply-body-63ed6305bbdbe4786392189b"
          title="Горизонтальна лінійка (Ctrl+R)" style="left: 275px;">
          <span style="background-position: -180px 0px;"></span>
        </button>
        <span role="separator" class="wmd-spacer wmd-spacer3"
          id="wmd-spacer3-reply-body-63ed6305bbdbe4786392189b"></span>
        <button tabindex="-1" class="wmd-button" id="wmd-undo-button-reply-body-63ed6305bbdbe4786392189b"
          title="Скасувати (Ctrl+Z)" style="left: 325px;">
          <span style="background-position: -200px 0px;"></span>
        </button>
        <button tabindex="-1" class="wmd-button" id="wmd-redo-button-reply-body-63ed6305bbdbe4786392189b"
          title="Повернути (Ctrl+Y)" style="left: 350px;" aria-disabled="true">
          <span style="background-position: -220px -20px;"></span>
        </button>
      </div>
    </div>
    <label class="sr" for="wmd-input-reply-body-63ed6305bbdbe4786392189b">Ваше запитання чи ідея (обов'язково)</label>
    <textarea class="wmd-input" id="wmd-input-reply-body-63ed6305bbdbe4786392189b"></textarea>
    <div class="wmd-preview-container" role="region" aria-label="Попередній HTML перегляд публикації">
      <div class="wmd-preview-label">Попередній перегляд</div>
      <div id="wmd-preview-reply-body-63ed6305bbdbe4786392189b" class="wmd-panel wmd-preview">

      </div>
    </div>
  </div>
</div>